header {
  align-items: center;
  background-color: gray;
  display: flex;
  height: 3rem;
  justify-content: space-between;
}

header img {
  height: 2rem;
  margin-left: 2rem;
  width: 8rem;
}

header section {
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
  width: 20rem;
}
