.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  height: 100vh;
  justify-content: center;
}

.logo {
  color: #2a9d8f;
  height: 98.12px;
  width: 96.78px;
}

.loginSection {
  display: flex;
  flex-direction: column;
  height: 15.5rem;
  justify-content: space-between;
  margin-top: 3rem;
  width: 339px;
}

.button {
  align-items: center;
  background-color: #2a9d8f;
  border-radius: 10px;
  display: flex;
  font-size: 1.3rem;
  font-weight: 700;
  height: 3.2rem;
  justify-content: center;
  margin-top: 1rem;
}

.button span {
  margin-right: 10px;
}
