.header-container {
  align-items: center;
  background-color: #bb86fc;
  box-shadow: 0 0 10px rgb(20, 20, 20);
  display: flex;
  height: 3em;
  justify-content: space-between;
  padding: 0 2em;
}

.header-right {
  display: flex;
  margin-right: 2em;
}

.email {
  margin-right: 2em;
}

.dispense {
  margin-right: 2em;
}
