* {
  font-size: 12px;
}

.header-container {
  align-items: center;
  background-color: rgb(127, 197, 148);
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.header-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  width: 100%;
}

.header-top img {
  left: 30px;
  position: absolute;
  top: 10px;
}

.header-top h3 {
  position: absolute;
  right: 30px;
  top: 10px;
}

.form-container {
  align-items: center;
  background-color: rgb(62, 59, 110);
  color: white;
  display: flex;
  height: 50px;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
}

.form-container label {
  margin-left: 10px;
  margin-right: 10px;
}

.form-container select {
  border-radius: 2px;
  height: 30px;
  padding-left: 10px;
  width: 130px;
}


.form-container input {
  border-radius: 2px;
  height: 30px;
  padding-left: 10px;
  width: 100px;
}

.form-container button {
  background-color: #3179fc;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  height: 30px;
  width: 150px;
}

.form-container button:hover {
  background-color: #44b2f1;
}

.legend-container {
  background-color: rgb(29, 27, 59);
  padding-right: 80px;
  width: 100%;
}

.legend {
  color: white;
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

.legend li {
  justify-content: space-between;
}
