.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.logout_butto {
  min-width: 300px;
  padding: 17px 30px;
  margin-top: 20px;
  /* background: black; */
  /* border: none; */
  /* color: white; */
  color: #8d0ada;
  font-size: 14px;
  border-radius: 3px;
}

.login_form {
  display: flex;
  flex-direction: column;
}

.login_form > h1 {
  font-size: 35px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.login_form > input {
  min-width: 380px;
  padding: 20px 0;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.24);
  font-family: "Inter";
  border-radius: 2px;
  font-size: 15px;
}

.user_name {
  color: #8d0ada;
}