.form {
  background-color: #69c38d;
  display: flex;
  height: 637px;
}

img {
  margin-bottom: 8px;
}

.form-login {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border-style: none;
  display: flex;
  flex-direction: column;
  height: 45%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 10px;
  width: 20%;
}

.form-login input {
  color: rgb(30, 30, 30);
  height: 30px;
  margin: 8px;
  padding: 5px;
}

.form-login button {
  border-radius: 10px;
  border-style: none;
  color: white;
  height: 40px;
  margin: 8px;
  padding: 5px;
  width: 120px;
}

.form-login button:enabled {
  background-color: #69c38d;
  font-size: 14px;
  font-weight: 600;
}
