body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.loginBox {
  align-items: center;
  background-color: teal;
  border-style: solid;
  color: rgb(177, 174, 174);
  display: flex;
  flex-direction: column;
  height: 80%;
  margin-top: 35px;
  padding: 15px;
  width: 100%;
}

.formBox {
  display: flex;
  flex-direction: column;
}

.loginBox label {
  flex-shrink: 1;
  font-family: monospace;
  font-size: 18px;
}

.loginBox input {
  font-family: monospace;
  font-size: 12px;
  padding: 10px;
}

.loginBox button {
  font-family: monospace;
  font-weight: 800;
  margin-left: 75px;
  margin-top: 10px;
  padding: 10px;
}
