/* 9 - Manjaro */

/* Imagem: https://pixabay.com/pt/photos/moedas-dinheiro-euro-finan%C3%A7as-5790121 */

/* Sobre alinhar o placeholder eu consultei o link abaixo: */

/* https://stackoverflow.com/questions/7381446/center-html-input-text-field-placeholder */
body {
  background-image: url('../images/background.jpg');
  background-size: cover;
}

/* Para deixar o elemento centralizado na tela */

/* https://www.youtube.com/watch?v=Cu-HP-gvggg */
fieldset {
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  border-radius: 20px;
  bottom: 0;
  height: 350px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 350px;
}

input {
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: 25px;
  margin-bottom: 15px;
  padding: 0.2em;
  width: 280px;
}

input placeholder {
  text-align: center;
}

button {
  background-color: rgb(221, 241, 129);
  border: 10;
  border-radius: 5px;
  font-weight: 800;
  height: 40px;
  width: 120px;
}

#money {
  display: block;
  margin: 15px auto;
}

.alinhamento {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

em {
  display: block;
  font-family: monospace;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
