.login-page {
  margin: auto;
  padding: 8% 0 0;
  width: 360px;
}

.form {
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 0 auto 100px;
  max-width: 360px;
  padding: 45px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.form input {
  background: #f2f2f2;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0 0 15px;
  outline: 0;
  padding: 15px;
  width: 100%;
}

.form button {
  background: #4caf50;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  outline: 0;
  padding: 15px;
  text-transform: uppercase;
  transition: all 0.3 ease;
  width: 100%;
}

.form button:hover , .form button:active , .form button:focus {
  background: #43a047;
}

