.wallet-header {
  background-color: #69c38d;
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding: 10px 60px;
}

.form-wallet {
  background-color: lightgray;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  padding: 10px 15px;
}

.form-wallet label {
  color: rgb(30, 30, 30);
  font-weight: 700;
}

.form-wallet input , select {
  background-color: white;
  border-radius: 4px;
  border-style: none;
  color: rgb(30, 30, 30);
  height: 25px;
  margin: 5px;
  padding-left: 10px;
}

.form-wallet button {
  background-color: #393939;
  border-radius: 10px;
  border-style: none;
  color: white;
  height: 35px;
  width: 130px;
}

.table-header {
  color: rgb(30, 30, 30);
  font-size: 14px;
  font-weight: 700;
  height: 50px;
  margin: 0 50px;
  table-layout: fixed;
}

.form-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 50px;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

table th {
  background-color: #393939;
  border: none;
  color: white;
}

.table-row {
  height: 55px;
}

.delete-button {
  background-color: #ca4532;
  border-radius: 10px;
  border-style: none;
  height: 35px;
  margin-top: 5px;
  width: 45px;
}

.delete-button img {
  padding-top: 5px;
}

.edit-button {
  background-color: #f0be39;
  border-radius: 10px;
  border-style: none;
  height: 35px;
  margin-right: 5px;
  margin-top: 5px;
  padding-left: 5px;
  width: 45px;
}

.edit-button img {
  padding-top: 10px;
}

