.wallet {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.wallet_butto {
  background: black;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 14px;
  margin-top: 20px;
  min-width: 300px;
  padding: 17px 30px;
}
