.expend-div {
  padding: 1vw 1vw 0;
}

.expend-form {
  display: flex;
  flex-wrap: nowrap;
  padding: 2vh;
}

.input-f {
  border: solid 0.5px gray;
  border-radius: 8px;
  font-weight: 600;
  margin-left: 1vh;
  padding: 5px;
}

label {
  font-size: 18px;
  font-weight: 500;
}

.add-button {
  background-color: greenyellow;
  border: 2px solid gray;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s;
}

.add-button:hover {
  background-color: yellow;
  cursor: pointer;
}

.add-button:active {
  background-color: blue;
}
