.exp-table-container {
  align-items: center;
  background-color: rgba(119, 79, 16, 0.719);
  display: flex;
  height: 150px;
  justify-content: center;
  width: 100%;
}

.table-container {
  color: rgb(207, 193, 167);
  font-size: larger;
  width: 90%;
}

.table-body {
  color: black;
}