/* .label-valor {
  margin: 16px;
}

.input-valor{
  margin-left: 4px;
}

.label-descricao {
  margin: 16px;
}

.input-descricao {
  margin-left: 4px;
} */

/* .label-moeda {
  margin: 16px;
}

.input-moeda {
  margin-left: 4px;
}

.label-pagamento {
  margin: 16px;
}

.input-pagamento {
  margin-left: 4px;
}

.label-tags {
  margin: 16px;
}

.input-tags {
  margin-left: 4px;
} */