* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: space-between;
}

.email {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 20vw;
}

.logo {
  width: 60vw;
}

.total {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 20vw;
}
