* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 60vw;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}