form {
  background-color: #c0d4ce;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -1px;
}

label {
  color: #427d6c;
  font-size: 15px;
  margin: 10px 5px;
}

input , select {
  background: white;
  border: 0;
  border-radius: 5px;
  color: #427d6c;
  display: block;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 190px;
}

button {
  background-color: #7db290;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  margin: 28px 5px 10px;
  padding: 0 60px;
}

button:hover {
  background-color: #407d6c;
}
