@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma-rtl.min.css' ;

.login-main {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: center;
}

.login-text {
  color: #008566;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px #024636;
}

.form-login {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-wallet {
  align-items: center;
  background-color: #008566;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header-wallet img {
  width: 10%;
}

.user-info {
  color: #08e9b4;
  text-shadow: 1px 1px #024f3d;
}

.addCurrencies-form {
  align-items: center;
  background-color: #024636;
  display: flex;
  justify-content: space-around;
}

.addCurrencies-form input {
  width: 70%;
}

.addCurrencies-form label {
  align-items: center;
  display: flex;
}

.addCurrencies-form h3 {
  margin: 15px 5px;
}

.subtitle {
  color: #01cc9d;
  font-size: 16px;
}