* {
  border: 0;
  box-sizing: border-box;
  padding: 0;
}

.loginSection {
  align-items: center;
  background-color: chartreuse;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.loginForm {
  background-color: aqua;
  height: 50vh;
  width: 50vh;
}

header {
  border: 1px solid black;
}
