.loginContainer {
  border: solid rgb(233, 230, 230) 1px;
  border-radius: 15px;
  height: auto;
  margin: 20% auto;
  padding-bottom: 40px;
  width: 300px;
}

.loginHeader {
  text-align: center;
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  max-width: 800px;
}

.button {
  background-color: blueviolet;
  color: aliceblue;
  margin-top: 10px;
  width: 153px;
}
