div {
  align-content: center;
  align-items: center;
  border: solid 2px brown;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 30px 20px;
  width: 300px;
}

.email {
  margin-bottom: 20px;
}

label {
  margin-top: 30px;
  text-align: center;
}

.password {
  margin-bottom: 30px;
}

img {
  margin-top: 20px;
  width: 150px;
}
